<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <div class="border">
        <div class="container">
            <h2 class="title">make a reservation</h2>
            <p class="text">Our clients are important to us, so we continually train our therapists to ensure that all treatments are of the highest standard and that each client receives the best care’</p>
            <div class="form">
                <form>
                    <div class="input">
                        <input type="text" placeholder="Enter your Name" class="placeholder">
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Enter a valid email address" class="placeholder">
                    </div>
                    <div class="input">
                        <textarea placeholder="Enter your message" class="placeholder"></textarea>
                    </div>
                    
                    <div class="box">
                        <input type="checkbox" class="check">
                        <label for="check"></label>
                        I accept the
                        <a href="https://website81838.nicepage.io/Page-15.html?version=a6c221f6-7f6f-4f57-a0b8-b150d8226758#" target="blank">Terms of Service</a>
                    </div>
                    <a href="https://website81838.nicepage.io/Page-15.html?version=a6c221f6-7f6f-4f57-a0b8-b150d8226758#" target="blank" class="submit">Submit</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>